<!DOCTYPE html>
<html>
    <head>
        <title>{{pageTitle}}</title>
    </head>
    <body>
        <h1>{{welcomeMessage}}</h1>
        <p>Some text page.</p>
        
        {{> footer }}
    </body>
</html>
